<!DOCTYPE html>
<html>
<head>
    <title>User Notes</title>
</head>
<body>
    <h1>User Notes</h1>
    <ul>
        <% notes.forEach(function(note) { %>
            <li><%= note.NoteText %></li>
        <% }); %>
    </ul>
</body>
</html>
